.reviews {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 71px;
    }
    &__item {
        display: flex;
        justify-content: center;
        &:nth-child(1) {
            margin-top: 70px;
        }
        margin-top: 101px;
    }
    &__photo {
        max-width: 169px;
        max-height: 169px;
        margin-right: 62px;
        border-radius: 50%;
    }
    &__content {
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        color: #0d0d0d;
    }
    &__header {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subheader {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-bottom: 19px;
    }
}